/* SETTINGS BASE */
@font-face {
    font-family: "Stamp-writer";
    src: url("../fonts/stamp-writer-font.ttf");   
}

@font-face {
    font-family: "Bank-printer";
    src: url("../fonts/bank-printer.otf");
}

* { margin: 0px; }

body {
    font-family: "Verdana", "Geneva", "Tahoma", "sans-serif";
    font-size: 16px;
}



/* LOGO Y MENU DE NAVEGACION */ 

/* Definiendo dimensiones, posicion y background del header */
header {
    position: sticky;
    top: 0;
    height: 25vh;
    background: rgb(0, 140, 220) url("../images/header-fill.png") no-repeat fixed top;
    background-size: 100% 100%;
}
/* Barra de navegacion con flexbox*/
.header-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 50%;
    background-color: rgb(200, 200, 200);
}

.header-item {
    height: 100%;
    overflow: hidden;
}

/* Ajuste de tamano y margen de logo */
#company-logo {
    height: 90%;
    margin-left: 5%;
}

nav {
    margin-left: auto;
    width: 80%;
}

/* Utilizamos flexbox tb para el nav para centrar todo mas facil y que sea responsive */
nav ul {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    align-items: center;
    justify-content: right;  
}

nav li { margin-right: 1%; }

/* Estilando botones */
nav a {
    font-family: "Bank-printer";
    font-size: 0.8rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1.5vh;
    border-style: none;
    border-radius: 8px;
    background-color: rgb(0, 40, 90);
    box-shadow: 2px 2px rgb(50, 50, 50);
    transition: ease-in-out 150ms;
}

nav .current-page { background-color: rgb(0, 100, 200); } 

nav a:hover { background-color: rgb(0, 150, 250); }

nav a:active { box-shadow: none; }

/*  CONTENIDO PRINCIPAL */

/* Titulo de la pagina */
main > h1 {
    font-family: "Stamp-writer";
    margin: 1% 1%;
    padding: 1%;
    text-align: center;
}

main, aside {
    padding: 2vh 2vw;
}

/* FOOTER */

/* Posicion y altura del footer */
footer {
    position: fixed;
    bottom: 0;
    height: 20vh;
    background-color: rgb(200, 200, 200);
}

/* Generando los 3 bloques con flexbox */
.footer-container {
    display: flex;
    flex-flow: row nowrap;
    height: 80%;
    align-items: center; /* evitamos usar margin/padding */
}

.footer-item { flex: 50%; }

/* Contenemos la imagen en el bloque y posibilitamos centrar */
#block-1 {
    height: 80%;
    display: flex; 
    align-items: center;
}

/* Imagen: tamano, centrado y background */
footer img {   
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0, 40, 90);
    border-radius: 50%;
    padding: 1vh;

}

#block-2 {
    border-left: 2px solid white;
    height: 80%; /* para poder usar overflow */
    overflow-y: auto; 
}

#block-3 {
    display: flex;
    height: 20%;
    align-items: center;
    background-color: rgb(230, 230, 230);
}

#info {
    font-size: 0.9rem;
    padding: 1%;
}

#copy-notice {
    margin: auto;
    font-size: 0.7rem;
}

/* ESTILOS MOBILE */
@media only screen and (max-width: 567px) {
    
    body {
        min-width: 300px;
        min-height: 600px;
        overflow: auto;
    }

    /* HEADER */
    header { 
        height: 40vh;
        min-height: 205px;
        overflow: auto;
    }
    
    .header-container {
        flex-flow: column;
        height: 70%;
        justify-content: left;
    }

    #company-logo {
        height: 40%;
    }

    header nav { width: 100%; }
    
    nav ul {
    list-style: none;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    }

    nav li { margin: 0.5%; }

    nav a {
        padding: 4%;
        border-radius: 3px;
    }

    /* FOOTER */
    /* Posicion y altura del footer */
    footer {
        position: fixed;
        height: 25vh;
    }
    /* Columnas */
    .footer-container {
        flex-flow: column;
        height: 88%;
    }

    #block-2 {
        padding-left: 25%;
        padding-right: 25%;
        margin-bottom: 4%;
        border: unset;
    }

    #block-3 { height: 12%; }

    #html5-logo { height: 40%; }

    #info {
        text-align: justify;
        line-height: 1rem;
    }
}