/* Hoja de estilo principal responsive pero NO dispositivos pequenos.

/* SETTINGS BASE */
@font-face {
    font-family: "Stamp-writer";
    src: url("stamp-writer-font.ttf");   
}

@font-face {
    font-family: "Bank-printer";
    src: url("bank-printer.otf");
}

* { margin: 0px; }

body {
    font-family: "Verdana", "Geneva", "Tahoma", "sans-serif";
    font-size: 16px;
}

/* LOGO Y MENU DE NAVEGACION */ 

/* Definiendo dimensiones, posicion y background del header */
header {
    position: sticky;
    top: 0;
    height: 20vh;
    background: rgb(0, 140, 220) url("../images/header-fill.png") no-repeat fixed top;
    background-size: 100% 100%;
}

/* Estructura */
header > nav {
    display: flex; /* transforma el nav en un flex container */
    flex-flow: row nowrap;
    align-items: center;
    margin-left: auto;
    height: 12vh;
    background-color: rgb(200, 200, 200);
}

header nav > ul {
    list-style-type: none;
    margin-left: auto; /* la lista es un flex item */
    margin-right: 1vw;
}

/* Muestra botones en linea */
nav li {
    display: inline;
    margin: 1vh 1vw;
}

/* Estilando botones */
nav a {
    font-family: "Bank-printer";
    font-size: 0.8rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1vh;
    border-style: none;
    border-radius: 8px;
    background-color: rgb(0, 40, 90);
}

nav a:hover {
    background-color: rgb(0, 127, 127);
}


/* Dimensionando y definiendo estilo del logo empresarial */
nav img {
    height: 8vh;
    width: 8vh;
    margin-left: 6vh;
    border: 1px solid rgb(0, 40, 90);
    border-radius: 100%;
}

/*  CONTENIDO PRINCIPAL */

/* Titulo de la pagina */
main > h1 {
    font-family: "Stamp-writer";
    margin: 4vh 4vh;
    padding: 2vh;
    text-align: center;
}

main {
    padding: 2vh 2vw;
}

/* FOOTER */

/* Posicion y altura del footer */
footer {
    position: sticky;
    bottom: 0;
    height: 15vh;
    background-color: rgb(200, 200, 200);
}

/* Generando los 3 bloques con flexbox */
.flex-container {
    display: flex;
    flex-flow: row nowrap;
    height: 80%;
    align-items: center; /* evitamos usar margin/padding */
}

.flex-item {
    flex: 50%;
}

/* Contenemos la imagen en el bloque y posibilitamos centrar */
#block-1 {
    height: 80%;
    display: flex; 
    align-items: center;
}

/* Imagen: tamano, centrado y background */
footer img {   
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0, 40, 90);
    border-radius: 50%;
    padding: 1vh;

}

#block-2 {
    border-left: 2px solid white;
    height: 80%; /* para poder usar overflow */
    overflow-y: auto; 
}

#block-3 {
    display: flex;
    height: 20%;
    align-items: center;
}

#info {
    font-size: 0.9rem;
}

#copy-notice {
    margin: 0 auto;
    font-size: 0.8rem;
}
